FinanceOS_AI_Agent_Tools_n8n.json
{
  "name": "FinanceOS - AI Agent com Tools",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        200,
        300
      ],
      "id": "1c3d092a-1ab3-4dde-85b4-9d31794b4bb4",
      "name": "Chat Trigger",
      "webhookId": "financeos-agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Você é o Assistente Financeiro do FinanceOS. Você pode registrar despesas, receitas e consultar saldos. O utilizador atual é pascoalcaz@gmail.com (user_id: 3). Sempre responda em português."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        450,
        300
      ],
      "id": "370ae2eb-e27d-4e3f-a751-9974d5a5f7bf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        300,
        500
      ],
      "id": "e9325483-ddac-4c15-a83f-e52a406abfe0",
      "name": "DeepSeek Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        450,
        500
      ],
      "id": "f1567308-25b0-484f-accc-4c26bf306440",
      "name": "Memory"
    },
    {
      "parameters": {
        "name": "registrar_despesa",
        "description": "Registra uma despesa no sistema financeiro. Use quando o utilizador quiser registrar um gasto.",
        "workflowId": "",
        "fields": {
          "values": [
            {
              "name": "valor",
              "description": "Valor da despesa em AOA (número)",
              "type": "number",
              "required": true
            },
            {
              "name": "descricao",
              "description": "Descrição do gasto",
              "type": "string",
              "required": true
            },
            {
              "name": "account_id",
              "description": "ID da conta (1=Carteira, 2=Poupança)",
              "type": "number",
              "required": true
            },
            {
              "name": "category_id",
              "description": "ID da categoria (1=Alimentação, 2=Transporte, 3=Lazer)",
              "type": "number",
              "required": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        550,
        500
      ],
      "id": "tool-despesa-001",
      "name": "Tool: Registrar Despesa"
    },
    {
      "parameters": {
        "name": "registrar_receita",
        "description": "Registra uma receita/entrada de dinheiro no sistema financeiro.",
        "workflowId": "",
        "fields": {
          "values": [
            {
              "name": "valor",
              "description": "Valor da receita em AOA (número)",
              "type": "number",
              "required": true
            },
            {
              "name": "descricao",
              "description": "Descrição da receita",
              "type": "string",
              "required": true
            },
            {
              "name": "account_id",
              "description": "ID da conta destino (1=Carteira, 2=Poupança)",
              "type": "number",
              "required": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        700,
        500
      ],
      "id": "tool-receita-001",
      "name": "Tool: Registrar Receita"
    },
    {
      "parameters": {
        "name": "consultar_saldo",
        "description": "Consulta o saldo atual das contas do utilizador.",
        "workflowId": "",
        "fields": {
          "values": []
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        850,
        500
      ],
      "id": "tool-saldo-001",
      "name": "Tool: Consultar Saldo"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Registrar Despesa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Registrar Receita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Consultar Saldo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
